/* .appointments {
  padding: 20px;
  width: 100vw;
  height: 50vh;
  color: black;
  background-color: rgb(225, 252, 214);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

  
  .appointments h2{
    margin-bottom: 10px;
    text-align: center;
    border: 2.5px solid black;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    padding: 4px 8px;
  }

  .appointments h2 p{
    text-align: center;
  }

  .appointments ul{
    list-style-type: none;
  }
  
  
  .appointments ul li #gridapp{
    list-style-type: none;
    border: 2px solid black;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 10px 15px;
    height: 20%;
    width: 80vw;
    background-color: rgb(255, 149, 149);
    
  }

  .appointments ul li #gridapp #gridspan{
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 4px;
    width: 14%;
    height: 18%;
    background-color: rgb(255, 196, 246);
  }
  .appointments ul li #gridapp #time-slot{
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 4px;
    width: 22%;
    height: 18%;
    background-color: rgb(255, 196, 246);
  }
 
  .appointments ul li #gridbutton{
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }

  .appointments ul li #gridbutton #gridbut{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    
    
  }

  .appointments ul li #gridbutton #gridbut:hover{
    background-color: rgb(66, 228, 29);
    color: white;
    border: none;
    
    
  }
  
  .appointments li {
    margin-bottom: 10px;
  }
   */