.page5 {
    width: 100%;
    height: 80vh;
    background-color: whitesmoke;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Enable scrolling if content overflows */
    padding: 20px;
    box-sizing: border-box; /* Ensures padding doesn't affect total width/height */
}

.page5 h2 {
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

.box {
    width: 90%; /* Adjust width to be responsive */ /* Add a max-width for larger screens */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adds spacing between boxes */
    font-size: 15px;
}

.box:hover{
    background-color: black;
    color: white;
    transition: all ease-in-out 0.4s;
}


.box:nth-last-child(1) {
    border-bottom: 2px solid #dadada;
}

@media (max-width: 768px) {
    .page5 {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .box {
        width: 100%; /* Full width on smaller screens */
        padding: 0 10px; /* Less padding on smaller screens */
    }

    .page5 h2 {
        font-size: 6vw; /* Adjust heading size on smaller screens */
    }
}
