#pageb{
    width: 100vw;
    height: 70vh;
    background-color: rgb(255, 10, 10);
    color: white;
}

#pageb #integration{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

#pageb #integration #image{
    height: 100%;
    width: 30%;
    background-color: rgb(79, 21, 255);
}

#pageb #integration #connection{
    background-color: aliceblue;
    height: 100%;
    width: 70%;
    color: black;
}

#pageb #integration #connection h1{
    font-size: 2.2vw;
    margin-bottom: 1%;
    text-align: center;
}

#pageb #integration #connection h1 .changing{
    color: #0be545;
}

#pageb #integration #connection ul{
    font-size: 1.5vw;
}

#pageb #integration #connection #learn{
    font-size: 2vw;
    margin-top: 3%;
    padding: 1% 3%;
    border-radius: 30px;
    background-color: transparent;
}

#pageb #integration #connection #learn:hover{
    background-color: #0be545;
    color: white;
    border: none;
    transition: all ease 0.5s;
}

#pageb #integration #connection #feature{
    margin-top: 3%;
}

#OPD{
    color: rgb(30, 145, 221);
    font-weight: 600;
}

#Bed{
    font-weight: 600;
    color: blueviolet;
}

#Ambulance{
    font-weight: 600;
    color: #e50bb6;
}

#Blood{
    font-weight: 600;
    color: red;
}

#Government{
    font-weight: 600;
    color: #0011ff;
}

#preg{
    font-weight: 600;
    color: rgb(224, 76, 101);
}

#tracking{
    font-weight: 600;
    color: #0be545;
}

hr{
    height: 3px;
    background-color: black;
}

#medikit{
    color: #e5120b;
}