#loginreg{
    height: 100vh;
    width: 100%;
    /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.FKsK9QqfnzvTNNvC3I5BOQHaEo%26pid%3DApi&f=1&ipt=d3fee62d74a20c272389b886403eb082f3168b0e48f8f9e229b658fe562aa2dd&ipo=images"); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url("../assets/login.jpeg");
}

#container {
    height: 80%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 50px auto;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    color: white;
    gap: 2%;

}

#container #logphoto {
    height: 100%;
    width: 40%;
    border-radius: 40px 0px 0px 40px;
    background-image: url("../assets/login.png");
    background-size: cover;
    background-position: center;
}

#container .form-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 0px 40px 40px 0px;
    padding: 0px 10px;
}

#container .form-container h2 {
    font-size: 50px;
    margin-bottom: 40px;
    color: white;
}

#container .form-container .inputing {
    height: 65px;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2.5px solid white;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

#container .form-container input::placeholder {
    color: white;
}

#container .form-container button {
    width: 80%;
    height: 70px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 30px;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
}

#container .form-container button:hover{
    background-color: #0be545;
    border: none;
    transition: all ease 0.5s;
}

#container .form-container .button button:hover{
    background-color: #0be545;
    border: none;
    transition: all ease 0.5s;
}


#container .form-container .button {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 50px;
}

#container .form-container .button button {
    flex: 1;
    background-color: transparent;
    border: 2px solid white;
    font-size: 25px;
    color: white;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 55px;
}

#container .form-container .button button .fa-solid{
    margin-right: 0;
}

#container .form-container h3 span {
    color: #0be545;
    cursor: pointer;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


@media (max-width: 1200px) {
    
    #container{
        padding: 15px 20px;
        height: 70%;
        width: 90%;
    }
    
    #container .form-container {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        padding: 0 0;
    }
    
    
    #container #logphoto {
        display: none;
    }

    #container .form-container h2 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    #container .form-container .inputing {
        height: 40px;
        width: 80%;
        border-bottom: 1.5px solid white;
        font-size: 20px;
        margin-bottom: 10px;
    }

    #container .form-container button {
        width: 60%;
        height: 50px;
        background-color: transparent;
        border: 1px solid white;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #container .form-container .button {
        width: 80%;
        margin-bottom: 20px;
    }

    #container .form-container .button button {
        border: 1px solid white;
        font-size: 15px;
        margin: 0 5px;
        height: 40px;
    }
}